#header {
    background-color:#BEC185;
    color:white;
    text-align:left;
    padding:5px;
	font-style: italic;
}
#nav {
    line-height:25px;
    background-color:#BEC185;
    height:450px;
    width:10%;
    float:left;
    padding:5px;
    font-family: Georgia;	      
}
#nav1{
	background-color:#A9E2F3;
    text-align:center;
    padding:5px;
	font-style: italic;
	width:auto;
	color:white;
	
}
#section {
    width:90%;   
    height:95%; 
    float:left;
    padding:10px;
    padding-left:50px;
}
#arti{
	width:10%;
	float:left;
    padding:10px;  	 	 
}
#end {
    background-color:#A9E2F3;
    color:white;
    clear:both; 
    text-align:right;
   	padding:5px;
   	font-weight: bold;	 	 
}
a:link, a:visited {
	color:#787755;
	text-decoration: none;
	font-weight: bold;
	font-size: x-large;
}

a:hover, a:active {
    font-weight: bold;
    color:#ffffff;
}

.td_span_center {
text-align :center;
background-color:#844DF2;
}